body {
	background-image: url("bg.jpg");
	padding: 7px;
}

.container-fluid {
	font-family: "Courier New", courier, monospace; 
}

.myname {
	font-size: 200%;
	text-align: center;
}

.uvic, .major, .email, .github {
	font-size: 120%;
	text-align: center;	
}

.github {

	color: purple;
}

.email {
	color: blue;
}
