body {
	background-color: #ffffe6;
}

.container {
	font-family: "tahoma", geneva, sans-serif; 
    font-size: 2.2rem;
    letter-spacing: 10px;
}

#im {
    position: relative;
    padding-top: 100px;
    background-image: url("http://i.imgur.com/VdlUwX1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
a {
    text-decoration: none;
    font-size:3.0rem;
    letter-spacing: 2px;

}

a:link {
    color:#0059b3;
}

a:visited, a:hover, a:active {
    color: #0080ff;
}
